@{
    ViewBag.Title = "Token Generation";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Token Generation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  

    <div class="container mt-4">

        <h2 class="baslik">Token</h2>

        @using (Html.BeginForm("GetAsync", "Token", FormMethod.Post))
        {
            <button type="submit" class="btn btn-primary mt-2">Token Al</button>
        }

        @if (ViewBag.Token != null)
        {
            <h3>Generated Token</h3>
            <pre>@Html.Raw(ViewBag.Token)</pre>
        }
    </div>

   
</body>
</html>