@model HalkOdePaymentIntegration.Contract.Request.RefundRequest
@using System.Text.Json

@{
    ViewBag.Title = "Ödeme Entegrasyonu";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İade Entegrasyonu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .btn-custom {
            background-color: #1b0565;
            color: white;
            width: 30%;
        }
    </style>
</head>
<body>

    <div class="container mt-4">

        @using (Html.BeginForm("ProcessPayment", "ConfirmPayment", FormMethod.Post))
        {
            <span style="color:#17456d"><h2>Ödeme Entegrasyonu</h2></span>
            <div>

                <div class="form-group ">
                    <label for="invoice_id">Fatura Numarası:</label>
                    <input type="text" class="form-control" id="invoice_id" name="invoice_id" required>
                </div>

                <div class="form-group ">
                    <label for="total">Tutar:</label>
                    <input type="text" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" class="form-control" id="total" name="total" required>
                </div>


            </div>
            <button type="submit" class="btn btn-custom">Ödemeyi Gönder</button>
        }


        @if (ViewBag.RequestData != null)

        {
            <div class="response-box response-info">
                <strong>📤 Gönderilen Veri</strong>
                <pre>@Html.Raw(JsonSerializer.Serialize(ViewBag.RequestData, new JsonSerializerOptions { WriteIndented = true }))</pre>
            </div>
        }

        @if (ViewBag.ResponseData != null)

        {

            var responseJson = JsonSerializer.Serialize(ViewBag.ResponseData, new JsonSerializerOptions { WriteIndented = true });

            var isSuccess = responseJson.Contains("\"status_code\": 100");

            <div class="response-box @(isSuccess ? "response-success" : "response-error")">
                <strong>📥 Yanıt Verisi</strong>
                <pre>@Html.Raw(responseJson)</pre>
            </div>
        }
    </div>
</body>
</html>
